/* Extending Bootstrap */
/* Typography */
.small {
  font-size: 11px;
}

/* Max Width */
iframe,
svg {
  max-width: 100%;
  border: none;
}

/* Nowrap */
.nowrap {
  white-space: nowrap;
}

/* Center */
.center,
.table td.center,
.table th.center {
  text-align: center;
}

/* Disabled Link */
a.disabled,
a.disabled:hover {
  color: #999;
  background-color: transparent;
  cursor: default;
  text-decoration: none;
}

.btn .caret {
  margin-bottom: 7px;
}

.btn.btn-micro .caret {
  margin: 5px 0;
}

.blog-row-rule,
.blog-item-rule {
  border: 0;
}

/* Modal */
body.modal {
  padding-top: 0;
}

.blog-row-rule,
.blog-item-rule {
  border: 0;
}

/* Nav List Offset */
.nav-list > li.offset > a {
  padding-left: 30px;
  font-size: 12px;
}

.blog-row-rule,
.blog-item-rule {
  border: 0;
}

.row-fluid .offset1 {
  margin-left: 8.382978723%;
}

.row-fluid .offset2 {
  margin-left: 16.89361702%;
}

.row-fluid .offset3 {
  margin-left: 25.404255317%;
}

.row-fluid .offset4 {
  margin-left: 33.914893614%;
}

.row-fluid .offset5 {
  margin-left: 42.425531911%;
}

.row-fluid .offset6 {
  margin-left: 50.93617020799999%;
}

.row-fluid .offset7 {
  margin-left: 59.446808505%;
}

.row-fluid .offset8 {
  margin-left: 67.95744680199999%;
}

.row-fluid .offset9 {
  margin-left: 76.468085099%;
}

.row-fluid .offset10 {
  margin-left: 84.97872339599999%;
}

.row-fluid .offset11 {
  margin-left: 91.489361693%;
}

/* Navbar Buttons */
.navbar .nav > li > a.btn {
  padding: 4px 10px;
  line-height: 18px;
}

/* Nav Tabs Dark */
.nav-tabs.nav-dark {
  border-bottom: 1px solid #333;
  text-shadow: 1px 1px 1px #000;
}

.nav-tabs.nav-dark > li > a {
  color: #F8F8F8;
}

.nav-tabs.nav-dark > li > a:hover {
  border-color: #333 #333 #111;
  background-color: #777;
}

.nav-tabs.nav-dark > .active > a, .nav-tabs.nav-dark > .active > a:hover {
  color: #FFF;
  background-color: #555;
  border: 1px solid #222;
  border-bottom-color: transparent;
}

/* Radio Button Groups */
.radio.btn-group input[type=radio] {
  display: none;
}

.radio.btn-group > label:first-of-type {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

fieldset.radio.btn-group {
  padding-left: 0;
}

/* iFrames */
.iframe-bordered {
  border: 1px solid @tableBorderColor;
}

/* Tabbed Content */
.tab-content {
  overflow: visible;
}

.tabs-left .tab-content {
  overflow: auto;
}

/* Extended Joomla Button Classes */
.btn-micro {
  padding: 1px 4px;
  font-size: 10px;
  line-height: 8px;
}

.btn-group > .btn-micro {
  font-size: 10px;
}

/* Joomla => Bootstrap Tooltip */
.tip-wrap {
  max-width: 200px;
  padding: 3px 8px;
  color: @white;
  text-align: center;
  text-decoration: none;
  background-color: @black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 100;
}

/* Input Prepend Chosen Select Boxes */
/* Common styling for Chosen Select Boxes with Input Prepend/Append */
.input-prepend .chzn-container-single .chzn-single,
.input-append .chzn-container-single .chzn-single {
  border-color: @inputBorderColor;
  height: 26px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-prepend .chzn-container-single .chzn-drop,
.input-append .chzn-container-single .chzn-drop {
  border-color: @inputBorderColor;
}

.input-prepend > .add-on,
.input-append > .add-on {
  vertical-align: top;
}

/* Styles specific to Input Prepend Chosen Select Boxes */
.input-prepend .chzn-container-single .chzn-single {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.input-prepend .chzn-container-single .chzn-single-with-drop {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

/* Styles specific to Input Append Chosen Select Boxes */
.input-append .chzn-container-single .chzn-single {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.input-append .chzn-container-single .chzn-single-with-drop {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}

/* Styles specific to combined Input Prepend and Append Chosen Select Boxes */
.input-prepend.input-append .chzn-container-single .chzn-single,
.input-prepend.input-append .chzn-container-single .chzn-single-with-drop {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* Accessible Hidden Elements (good for hidden labels and such) */
.element-invisible {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Form Vertical Overrides Form Horizontal */
.form-vertical {
  .control-label {
    float: none;
    width: auto;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
  }
  .controls {
    margin-left: 0;
  }
}

/* Auto Width */
.width-auto {
  width: auto;
}

/* Chosen proper wrapping in Bootstrap btn-group */
.btn-group .chzn-results {
  white-space: normal;
}

/* Accordion overflow fix */
.accordion-body.in:hover {
  overflow: visible;
}

/* Invalid indicators */
.invalid {
  color: @red;
  font-weight: bold;
}

input.invalid {
  border: 1px solid @red;
}

/* Tweaking of tooltips */
.tooltip {
  max-width: 400px;
}

.tooltip-inner {
  max-width: none;
  text-align: left;
  text-shadow: none;
}

th .tooltip-inner {
  font-weight: normal;
}

.tooltip.hasimage {
  opacity: 1;
}

/* Align tip text to left (old mootools tip) */
.tip-text {
  text-align: left;
}

// Fix for bug when dropdown-backdrop element is created
.btn-group > .btn + .dropdown-backdrop + .btn {
  margin-left: -1px;
}

.btn-group > .btn + .dropdown-backdrop + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  .box-shadow("inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
}

.btn-group > .btn-mini + .dropdown-backdrop + .dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
}

.btn-group > .btn-large + .dropdown-backdrop + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}

.dropdown-menu {
  text-align: left;
}
