//
// Navs
// --------------------------------------------------
// BASE CLASS
// ----------
.nav {
    margin-left: 0;
    margin-bottom: @baseLineHeight;
    list-style: none;
    > li {
        > a {
            display: inline-block;
            &:hover,
            &:focus {
                text-decoration: none;
            }
            > img {
                max-width: none;
            }
        }
    }
    > .pull-right {
        float: right;
    }
    li + .nav-header {
        margin-top: 9px;
    }
}

// TABS
// ----
// Give the tabs something to sit on
.nav-tabs {
    font-size: 0;
    margin: 0;
    padding: 0 0 25px;
    text-align: left;
    margin-top: 57px;
    > li {
        display: inline-block;
        box-sizing: border-box;
        // max-width: 255px;
        border-radius: 500px;
        overflow: hidden;
        // width: 100%;
        margin: 0;
        padding: 0;
        &:before {
            display: none;
        }
        > a,
        > span {
          background: @globalColor;
            color: @white;
            font: 400 22px/73px @altFontFamily;
            padding:0 67px; 
            text-transform: uppercase;
            border-bottom: 2px solid transparent;
            display: block;
            &:hover {
              background: @grayDark;
            }
        }
        +li{
          margin-left: 10px;
        }
    }
    > .active,
    > .current {
        > a,
        > span {
          background: @grayDark;

        }
    }
}

// BOOTSTRAP STYLES
//==============================================
// Nav headers (for dropdowns and lists)
.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: @baseLineHeight;
    color: @grayLight;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    text-transform: uppercase;
}

// NAV LIST
// --------
.nav-list {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
    > li > a,
    .nav-header {
        margin-left: -15px;
        margin-right: -15px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    }
    > li > a {
        padding: 3px 15px;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
        color: @white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
        background-color: @linkColor;
    }
    [class^="icon-"],
    [class*=" icon-"] {
        margin-right: 2px;
    }
    .divider {
        .nav-divider();
    }
}

// TABS AND PILLS
// -------------
// Common styles
.nav-tabs,
.nav-pills {
    .clearfix();
}

.nav-pills > li {
    float: left;
    > a {
        padding: 8px 12px;
        margin: 2px 2px 2px 0;
        line-height: 14px; // keeps the overall height an even number
        .border-radius(5px);
    }
}

// Active state
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
    color: @white;
    background-color: @linkColor;
}

// STACKED NAV
// -----------
// Stacked tabs and pills
.nav-stacked > li {
    float: none;
}

.nav-stacked > li > a {
    margin-right: 0; // no need for the gap between nav items
}

// Tabs
.nav-tabs.nav-stacked {
    border-bottom: 0;
}

.nav-tabs.nav-stacked > li > a {
    border: 1px solid #DDD;
    .border-radius(0);
}

.nav-tabs.nav-stacked > li:first-child > a {
    .border-top-radius(4px);
}

.nav-tabs.nav-stacked > li:last-child > a {
    .border-bottom-radius(4px);
}

.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
    border-color: #DDD;
    z-index: 2;
}

// Pills
.nav-pills.nav-stacked > li > a {
    margin-bottom: 3px;
}

.nav-pills.nav-stacked > li:last-child > a {
    margin-bottom: 1px; // decrease margin to match sizing of stacked tabs
}

// DROPDOWNS
// ---------
.nav-tabs .dropdown-menu {
    .border-radius(0 0 6px 6px); // remove the top rounded corners here since there is a hard edge above the menu
}

.nav-pills .dropdown-menu {
    .border-radius(6px); // make rounded corners match the pills
}

// Default dropdown links
// -------------------------
// Make carets use linkColor to start
.nav .dropdown-toggle .caret {
    border-top-color: @linkColor;
    border-bottom-color: @linkColor;
    margin-top: 6px;
}

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
    border-top-color: @linkHoverColor;
    border-bottom-color: @linkHoverColor;
}


/* move down carets for tabs */

.nav-tabs .dropdown-toggle .caret {
    margin-top: 8px;
}

// Active dropdown links
// -------------------------
.nav .active .dropdown-toggle .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}

.nav-tabs .active .dropdown-toggle .caret {
    border-top-color: @gray;
    border-bottom-color: @gray;
}

// Active:hover/:focus dropdown links
// -------------------------
.nav > .dropdown.active > a:hover,
.nav > .dropdown.active > a:focus {
    cursor: pointer;
}

// Open dropdowns
// -------------------------
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
    color: @white;
    background-color: @grayLight;
    border-color: @grayLight;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret,
.nav li.dropdown.open a:focus .caret {
    border-top-color: @white;
    border-bottom-color: @white;
    .opacity(100);
}

// Dropdowns in stacked tabs
.tabs-stacked .open > a:hover,
.tabs-stacked .open > a:focus {
    border-color: @grayLight;
}

// TABBABLE
// --------
// COMMON STYLES
// -------------
// Clear any floats
.tabbable {
    .clearfix();
}

.tab-content {
    overflow: auto; // prevent content from running below tabs
    padding-top: 22px;
}

// Remove border on bottom, left, right
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

// Show/hide tabbable areas
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

// BOTTOM
// ------
.tabs-below > .nav-tabs {
    border-top: 1px solid #DDD;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    .border-radius(0 0 4px 4px);
    &:hover,
    &:focus {
        border-bottom-color: transparent;
        border-top-color: #DDD;
    }
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #DDD #DDD #DDD;
}

// LEFT & RIGHT
// ------------
// Common styles
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

// Tabs on the left
.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #DDD;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    .border-radius(4px 0 0 4px);
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: @grayLighter #DDD @grayLighter @grayLighter;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #DDD transparent #DDD #DDD;
}

// Tabs on the right
.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #DDD;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    .border-radius(0 4px 4px 0);
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: @grayLighter @grayLighter @grayLighter #DDD;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #DDD #DDD #DDD transparent;
}

// DISABLED STATES
// ---------------
// Gray out text
.nav > .disabled > a {
    color: @grayLight;
}

// Nuke hover/focus effects
.nav > .disabled > a:hover,
.nav > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    cursor: default;
}
