//
// Progress bars
// --------------------------------------------------

// =======================
// Bootstrap Styles
// =======================

// ANIMATIONS
// ----------

// Webkit
@-webkit-keyframes progress-bar-stripes {
  from { background-position: 40px 0; }
  to { background-position: 0 0; }
}

// Firefox
@-moz-keyframes progress-bar-stripes {
  from { background-position: 40px 0; }
  to { background-position: 0 0; }
}

// IE9
@-ms-keyframes progress-bar-stripes {
  from { background-position: 40px 0; }
  to { background-position: 0 0; }
}

// Opera
@-o-keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

// Spec
@keyframes progress-bar-stripes {
  from { background-position: 40px 0; }
  to { background-position: 0 0; }
}

// THE BARS
// --------

// Outer container
.progress {
  overflow: hidden;
  height: @baseLineHeight;
  margin-bottom: @baseLineHeight;
  #gradient > .vertical(#F5F5F5, #F9F9F9);
  .box-shadow(inset 0 1px 2px rgba(0, 0, 0, .1));
  .border-radius(@baseBorderRadius);
}

// Bar of progress
.progress .bar {
  width: 0%;
  height: 100%;
  color: @white;
  float: left;
  font-size: 12px;
  text-align: center;
  .box-sizing(border-box);
  .transition(width .6s ease);
}

.progress .bar + .bar {
  .box-shadow("inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15)");
}

// Striped bars
.progress-striped .bar {
  #gradient > .striped(#149BDF);
  .background-size(40px 40px);
}

// Call animation for the active one
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

// COLORS
// ------

// Danger (red)
.progress-danger .bar, .progress .bar-danger {
  #gradient > .vertical(#EE5F5B, #C43C35);
}

.progress-danger.progress-striped .bar, .progress-striped .bar-danger {
  #gradient > .striped(#EE5F5B);
}

// Success (green)
.progress-success .bar, .progress .bar-success {
  #gradient > .vertical(#62C462, #57A957);
}

.progress-success.progress-striped .bar, .progress-striped .bar-success {
  #gradient > .striped(#62C462);
}

// Info (teal)
.progress-info .bar, .progress .bar-info {
  #gradient > .vertical(#5BC0DE, #339BB9);
}

.progress-info.progress-striped .bar, .progress-striped .bar-info {
  #gradient > .striped(#5BC0DE);
}

// Warning (orange)
.progress-warning .bar, .progress .bar-warning {
  #gradient > .vertical(lighten(@orange, 15%), @orange);
}

.progress-warning.progress-striped .bar, .progress-striped .bar-warning {
  #gradient > .striped(lighten(@orange, 15%));
}

// =======================
// Horizontal Progress Bar
// =======================
.progress-horizontal {
  position: relative;
  background: @grayLight_2;
  height: 5px;
  opacity: 0;
  visibility: hidden;
  .text {
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    color: @grayDark;
    font-family: @baseFontFamily;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
  }
  .text-inner {
    color: @grayDark;
  }
  .bar {
    background: @globalColor;
    height: 100%;
    position: absolute;
    left: 0;
    clip: rect(0, auto, auto, auto);
  }
}

//Animation
.visible-first > .item_content > .progress-horizontal {
  visibility: visible;
  .opacity(100);
  .bar {
    .animation(2s ease h-progress);
  }
}

.mod-newsflash-adv__progbars_horizontal{
  .item{
    margin-bottom: 60px;
  }
}

// =======================
// Vertical Progress Bar
// =======================

.progress-vertical {
  position: relative;
  width: 60px;
  margin: 30px auto;
  background: #000;
  height: 200px;
  opacity: 0;
  visibility: hidden;
  .text {
    position: absolute;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
  }
  .bar {
    background: @globalColor;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    clip: rect(0, auto, auto, auto);
    .text-inner {
      color: #000;
      bottom: 0;
    }
  }
}

//Animation
.visible-first > .item_content > .progress-vertical {
  .opacity(100);
  visibility: visible;
  .bar {
    .animation(v-progress 2s ease);
  }
}

// =======================
// Radial Progress Bar
// =======================
.mod-newsflash-adv__progbars_circle {
    .item {
        .item_content {

        }
    }
}

@bgColor: @white;
@stroke-color: @globalColor;
@trail-color: @grayLight_2;
.radial-progress {
    position: relative;
    line-height: 0;
    border-radius: 500px;
    // background: @grayLight;

    &:before{
      width: 90%;
      height: 90%;
      border-radius: 500px;
      background: @white;
      content: "";
      position: absolute;
      top: 5%;
      left: 5%;
      display: inline-block;
    }
    svg {
        path:first-child {
            stroke: @trail-color !important;

        }
        path:last-child {
            stroke: @stroke-color !important;
            fill: @bgColor !important;

        }
    }
    .progressbar-text {
        color: @grayDark !important;
        font-family: @altFontFamily;
        font-size: 95px;
        line-height: 95px;
        font-weight: 400 !important;
        position: relative;
        &:after {
            content: "%";
        }
    }
}
