//
// Typography
// --------------------------------------------------
// ====== Variables ======
//Link
@linkColor: @globalColor;
//headings
@headingsFontFamily: @altFontFamily;
@headingsFontWeight: normal;
p {
    padding-bottom: @baseLineHeight;
    font-weight: 300;
}

.lead {
    margin-bottom: @baseLineHeight;
    font-size: @baseFontSize * 1.5;
    line-height: @baseLineHeight * 1.5;
}

a {
    .transition(.5s all ease);
    color: @linkColor;
    &:focus {
        outline: none;
    }
    &:hover,
    &:focus {
        text-decoration: none;
        color: @linkHoverColor;
    }
}

b {
    font-weight: 700;
}

// Headings
// -------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
    color: @headingsColor;
    font-family: @headingsFontFamily;
    font-weight: @headingsFontWeight;
    text-transform: uppercase;
    position: relative;
    margin-top: 0;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
    a {
        color: inherit;
        &:hover {
            color: @globalColor;
        }
    }
    &.heading-style-1 {
        font-size: @baseFontSize * 7.73; //170
        line-height: @baseLineHeight * 4.72; //170
        margin-bottom: 20px;
    }
    &.heading-style-2 {
        font-size: @baseFontSize * 5.45; //120
        line-height: @baseLineHeight * 4.72; //170
        margin-bottom: 20px;
        position: relative;
        &:before {
            content: "";
            width: 188px;
            height: 1px;
            background: #b8b8b8;
            display: inline-block;
            position: absolute;
            top: 0;
            left: -91px;
        }
        &:after {
            content: "";
            width: 97px;
            height: 7px;
            background: @grayDark;
            display: inline-block;
            position: absolute;
            top: -6px;
            left: 0;
        }
    }
    &.heading-style-3 {
        font-size: @baseFontSize * 1.36; //30
        line-height: @baseLineHeight * 0.83; //30
        margin-bottom: 50px;
    }
    &.heading-style-4 {
        font-size: @baseFontSize * 1.25;
        line-height: @baseLineHeight * 1.25;
        margin-bottom: 20px;
    }
    &.heading-style-5 {
        font-size: @baseFontSize;
        line-height: @baseLineHeight;
        margin-bottom: 20px;
    }
    &.heading-style-6 {
        font-size: @baseFontSize * 0.85;
        line-height: @baseLineHeight * 0.85;
        margin-bottom: 20px;
    }
    &.heading-style-7 {
        font-size: @baseFontSize * 0.75;
        line-height: @baseLineHeight * 0.75;
        margin-bottom: 20px;
    }
    &.heading-style-8 {
        font-size: @baseFontSize * 0.7;
        line-height: @baseLineHeight * 0.7;
        margin-bottom: 20px;
    }
    small {
        font-weight: normal;
        line-height: 1;
        color: @grayLight;
    }
}

// MISC
// ----
// Horizontal rules
hr {
    margin: @baseLineHeight 0;
    border: none;
    border-top: 1px solid @hrBorder;
}

// Blockquotes
blockquote {
    padding: 0 0 0px 180px;
    margin: 0;
    position: relative;
    font-style: italic;
    font-weight: 300;
    &:before {
        content: '“';
        font: 180px/100px @altFontFamily;
        left: 90px;
        position: absolute;
        top: 0;
        color: @globalColor;
    }
    small {
        display: block;
        line-height: @baseLineHeight;
        color: @grayLight;
        text-align: right;
    }
    cite {
        color: @globalColor;
        display: inline-block;
    }
}

.item_introtext,
.item_fulltext,
.category_desc {
    p a {
        text-decoration: underline;
    }
    strong {
        color: @linkColor;
    }
    mark {
        color: @white;
        padding: 2px 6px;
        background: @globalColor;
    }
}

// Emphasis & misc
// -------------------------
// Ex: 14px base font * 85% = about 12px
small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

cite {
    font-style: normal;
}

// Utility classes
.muted {
    color: @grayLight;
}

a.muted:hover,
a.muted:focus {
    color: darken(@grayLight, 10%);
}

.text-warning {
    color: @warningText;
}

a.text-warning:hover,
a.text-warning:focus {
    color: darken(@warningText, 10%);
}

.text-error {
    color: @errorText;
}

a.text-error:hover,
a.text-error:focus {
    color: darken(@errorText, 10%);
}

.text-info {
    color: @infoText;
}

a.text-info:hover,
a.text-info:focus {
    color: darken(@infoText, 10%);
}

.text-success {
    color: @successText;
}

a.text-success:hover,
a.text-success:focus {
    color: darken(@successText, 10%);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

// Quotes
q:before,
q:after {
    content: "";
}

// Addresses
address {
    display: block;
    margin-bottom: @baseLineHeight;
    font-style: normal;
    line-height: @baseLineHeight;
}

// Abbreviations and acronyms
abbr[title], // Added data-* attribute to help out our tooltip plugin, per https://github.com/twitter/bootstrap/issues/5257
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted @grayLight;
}

abbr.initialism {
    font-size: 90%;
    text-transform: uppercase;
}

// Page header
// -------------------------
.page-header {}
