.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font-size: 0;
  line-height: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-webkit-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-moz-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-ms-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-o-keyframes h-progress {
  0% {
    width: 0;
  }
}
@keyframes h-progress {
  0% {
    width: 0;
  }
}
@-webkit-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-moz-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-ms-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-o-keyframes v-progress {
  0% {
    height: 0;
  }
}
@keyframes v-progress {
  0% {
    height: 0;
  }
}
.jg_catelem_photo {
  font-size: 0;
  line-height: 0;
}
.loaded .jg_element_cat {
  display: none;
}
.jg_element_cat {
  padding-bottom: 30px;
}
.jg_imgalign_catsubs {
  font-size: 0;
  margin-bottom: 30px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.jg_imgalign_catsubs .jg_photo_custom {
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.jg_imgalign_catsubs:hover .jg_photo_custom {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.jg_imgalign_catsubs:hover .jg_subcatelem_txt {
  opacity: 1;
}
.jg_subcatelem_cat a {
  height: auto;
}
.jg_subcatelem_photo a {
  display: block;
}
.jg_subcatelem_txt {
  background: #1a1a1a;
  top: 9%;
  bottom: 9%;
  height: 82%;
  width: 82%;
  left: 9%;
  right: 9%;
  color: #fff;
  font-size: 0;
  line-height: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.jg_subcatelem_txt:before {
  content: "\f002";
  font: 32px/32px FontAwesome;
  top: 40%;
  color: #ffffff;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.jg_subcatelem_txt ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  max-width: 99%;
  vertical-align: middle;
}
.jg_subcatelem_txt ul li:before {
  display: none;
}
.jg_subcatelem_txt ul a {
  color: #fff;
  position: relative;
}
.jg_subcatelem_txt ul a:hover {
  color: #fff;
}
.jg_subcatelem_txt .jg_subcatelem_txt__link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.jg_catelem_txt {
  margin: 0;
}
.jg_catelem_txt .gallery_title {
  display: none;
}
.jg_catelem_txt .gallery_desc {
  display: none;
}
.jg_catelem_txt .jg_links a + a {
  display: none;
}
.jg_catelem_txt .jg_links a .fa {
  font-size: 32px;
}
.jg_catelem_txt ul li a:hover {
  color: #fc2c53;
}
.jg_catelem_txt ul li:before {
  display: none;
}
.jg_catelem_txt ul li > * {
  color: #ffffff;
}
.jg_dtl_photo {
  font-size: 0;
  line-height: 0;
}
.jg_dtl_photo .lazy_container {
  width: 100%;
}
.jg_dtl_photo .lazy_container .lazy_preloader {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.jg_dtl_photo .lazy_container img {
  position: relative;
}
div.jg_details,
div.jg_voting,
div.jg_commentsarea,
div.jg_send2friend,
div.jg_bbcode,
div.jg_exif,
div.jg_panemodule {
  border: none;
  margin: 0;
}
.jg_detailnavi {
  margin-bottom: 0;
}
.jg_iconbar {
  padding: 0;
}
.jg_imgtitle {
  text-align: left;
}
.jg_imgalign_catimgs {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  position: relative;
}
.jg_imgalign_catimgs .jg_photo_custom {
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.jg_imgalign_catimgs .jg_catelem_txt {
  background: rgba(26, 26, 26, 0.9);
  color: #fff;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 100%;
  z-index: 10;
}
.jg_imgalign_catimgs .jg_catelem_txt .item_title {
  color: inherit;
}
.jg_imgalign_catimgs .jg_catelem_txt:before {
  content: '';
  display: inline-block;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
  width: 0;
  background: #fc2c53;
}
.jg_imgalign_catimgs .jg_catelem_txt ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 22px;
  line-height: 36px;
  max-width: 99%;
  padding: 0 10px;
  vertical-align: middle;
}
.jg_imgalign_catimgs .jg_catelem_txt .jg_links a {
  font-size: 28px;
  margin: 0 5px;
}
.jg_imgalign_catimgs:hover .jg_photo_custom {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.jg_imgalign_catimgs:hover .jg_catelem_txt {
  opacity: 1;
}
.jg_gallery {
  font-size: 0;
  line-height: 0;
  text-align: left;
}
.jg_catorderlist {
  text-align: left;
  white-space: normal;
}
.jg_catorderlist > strong {
  display: block;
  margin-bottom: 15px;
}
.jg_links .fancybox-thumb .lazy,
.jg_links .fancybox-thumb img {
  display: none;
}
#joomcommentform {
  text-align: left;
}
#joomcommentform + .jg_row1 {
  padding-bottom: 0;
}
#joomcommentform .btn-group {
  display: block;
  text-align: center;
}
#joomcommentform .input_wrapper {
  position: relative;
}
.jg_comments_title {
  margin-bottom: 30px;
}
.jg_cmtf {
  border: 1px dashed #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #aaa;
  padding: 30px 0;
  text-align: center;
}
.ui-loader {
  display: none;
}
.jg_pathway {
  margin: 0 0 36px;
  padding: 0;
}
ul#order {
  margin: 0 0 15px;
  overflow: hidden;
}
ul#order li {
  display: inline-block;
}
.jg_commentsarea {
  clear: both;
  padding-top: 20px;
}
.jg_commentsarea textarea {
  height: 200px;
  width: 100%;
}
.jg_commentsarea .username {
  display: block;
  font-size: 26.4px;
  font-weight: 500;
  line-height: 43.2px;
  margin-bottom: 36px;
}
.jg_commentsarea div[class*="jg_row"] {
  padding-bottom: 40px;
}
.jg_commentsarea div[class*="jg_row"] .comment_text {
  display: block;
}
.jg-details-header h4 {
  padding: 0;
  text-align: inherit;
}
.jg_dtl_photo {
  text-align: center;
}
