.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font-size: 0;
  line-height: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-webkit-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-moz-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-ms-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-o-keyframes h-progress {
  0% {
    width: 0;
  }
}
@keyframes h-progress {
  0% {
    width: 0;
  }
}
@-webkit-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-moz-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-ms-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-o-keyframes v-progress {
  0% {
    height: 0;
  }
}
@keyframes v-progress {
  0% {
    height: 0;
  }
}
.kmt-disabled {
  cursor: inherit !important;
}
.page-blog .item > .kmt-readon {
  display: none;
}
.kmt-readon {
  width: auto;
}
.komento .kmt-readon span.kmt-comment {
  background: none;
}
#section-kmt .kmt-author {
  height: auto;
  text-transform: none;
  color: inherit;
}
#section-kmt .kmt-author a {
  height: auto;
}
#section-kmt .kmt-avatar {
  float: left;
  margin-right: 20px;
  position: relative;
  width: 70px;
  z-index: 10;
}
#section-kmt .kmt-avatar a,
#section-kmt .kmt-avatar a img {
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  border-radius: 0%;
  width: 100%;
}
#section-kmt .kmt-avatar + .kmt-content,
#section-kmt .kmt-rank + .kmt-content {
  margin-left: 90px;
}
#section-kmt #kmt-fame {
  margin: 0;
}
#section-kmt .kmt-list.reset-child {
  text-align: left;
}
#section-kmt .kmt-list.reset-child > li.kmt-empty-comment {
  margin-top: 0;
}
#section-kmt .kmt-list.reset-child li + li .kmt-wrap {
  margin-top: 30px;
}
#section-kmt .kmt-list.reset-child .kmt-wrap {
  padding: 0px 0px 30px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  color: #1a1a1a;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#section-kmt .kmt-head {
  font: 400 30px / 20px 'Righteous', cursive;
  color: #1a1a1a;
  height: auto !important;
}
#section-kmt .kmt-head .author-kmt span span {
  color: #1a1a1a;
}
#section-kmt .kmt-head .author-kmt a {
  color: #1a1a1a;
}
#section-kmt .kmt-head .author-kmt a:hover {
  color: #fc2c53;
}
#section-kmt .kmt-inreplyto {
  color: #1a1a1a;
}
#section-kmt .kmt-inreplyto a {
  color: #1a1a1a;
}
#section-kmt .kmt-inreplyto a:hover {
  color: #fc2c53;
}
#section-kmt .kmt-form-content .kmt-form-addon > div {
  max-width: 90%;
}
#section-kmt .kmt-form-content .kmt-form-addon > div b {
  margin-bottom: 10px !important;
}
#section-kmt .kmt-form-content .kmt-form-addon > div .input.kmt-location {
  max-width: 100%;
}
#section-kmt .kmt-content .parentContainer {
  left: -70px;
  right: -15px;
}
#section-kmt .kmt-content .parentContainer .kmt-author {
  margin-left: 7px;
}
#section-kmt .input[type="checkbox"] {
  margin-top: 0;
}
#section-kmt .radio input[type="radio"],
#section-kmt .checkbox input[type="checkbox"] {
  margin-left: 0;
  margin-right: 15px;
}
#section-kmt .radio,
#section-kmt .checkbox {
  background: none !important;
  border: none !important;
  padding: 0;
}
#section-kmt .kmt-profile-avatar {
  width: 60px;
}
#section-kmt .kmt-profile-activity li {
  min-width: 0 !important;
  padding: 15px 8px !important;
}
#section-kmt .kmt-time {
  font: 400 20px/24px 'Righteous', cursive;
  color: #fc2c53;
}
#section-kmt .kmt-time:before {
  content: '\f017';
  font-family: 'FontAwesome';
  font-size: 18px;
  color: #fc2c53;
}
#section-kmt .kmt-time a {
  color: inherit;
}
#section-kmt .kmt-time a:hover {
  color: #1a1a1a;
}
#section-kmt .kmt-time i {
  margin-right: 3px;
}
#section-kmt .kmt-control-user .kmt-btn {
  font-size: 14px;
  margin-left: 5px;
  padding: 0;
  width: 35px;
  line-height: 29px;
  height: 29px;
  border: 1px solid #e4e4e5;
  background: #ffffff;
  color: #1a1a1a;
  text-align: center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#section-kmt .kmt-control-user .kmt-btn:hover {
  background: #ffffff;
  color: #fc2c53;
}
#section-kmt .kmt-toolbar {
  border: none;
  margin: 0;
  padding: 0;
}
#section-kmt .kmt-like-counter {
  border: 1px solid #e4e4e5;
  line-height: 29px;
  font-size: 20px;
  background: #ffffff;
  color: #1a1a1a;
  height: 29px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
#section-kmt .kmt-like-counter:before,
#section-kmt .kmt-like-counter:after {
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  content: '';
  left: 100%;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
#section-kmt .kmt-like-counter:before {
  border-left: 5px solid #e4e4e5;
  margin-left: 1px;
}
#section-kmt .kmt-like-counter:after {
  border-left: 5px solid #ffffff;
}
#section-kmt .kmt-like-counter:hover {
  background: #ffffff;
  color: #fc2c53;
}
#section-kmt .kmt-like-counter:hover:after {
  border-left-color: #ffffff;
}
#section-kmt .kmt-control-user .kmt-like.cancel,
#section-kmt .kmt-control-user .kmt-reply.cancel {
  color: #333333;
}
#section-kmt .kmt-option > span.kmt-admin-wrap > ul {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#section-kmt .kmt-admin-list {
  font-size: 19px;
}
#section-kmt .kmt-admin-wrap:hover a.kmt-admin-link {
  color: #333333;
}
#section-kmt .kmt-form-content .kmt-form-addon {
  border-top: none;
}
#section-kmt .kmt-rank-bar {
  background: #1a1a1a;
}
#section-kmt .kmt-rank-progress {
  background: #fc2c53;
}
#section-kmt .kmt-form-author ul {
  margin: 0 0 0 -30px;
}
#section-kmt .kmt-form-author ul li.col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
  width: 33.33%;
}
#section-kmt .kmt-form-author ul li.col div {
  position: relative;
}
#section-kmt .kmt-form {
  margin: 30px 0;
}
#section-kmt .kmt-form-editor > div {
  position: relative;
}
#section-kmt .kmt-form-editor > div > .input.textarea {
  height: 193px;
  font-weight: 300;
  font-size: 22px;
}
#section-kmt .kmt-form-submit {
  position: relative;
  text-align: center;
  padding-top: 50px;
}
#section-kmt .kmt-item .kmt-form-submit .btn {
  margin-right: 6px;
}
#section-kmt .kmt-body {
  margin-bottom: 0;
}
#section-kmt #kmt-form {
  padding-bottom: 60px;
}
#section-kmt .kmt-text p {
  padding-bottom: 20px;
}
#section-kmt .editInput.kmt-edit-form-input {
  height: 193px;
  width: 100%;
}
#section-kmt .submitButton {
  border: none;
  font-size: 0;
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  width: 0;
}
#section-kmt .submitButton img {
  display: none;
}
.kmt-readon span.kmt-comment {
  background: none;
  float: none;
  margin: 0;
  padding: 0;
}
.foundryDialog .dialog-head {
  padding-right: 24px;
}
@media (max-width: 770px) {
  #section-kmt .kmt-form-author ul li.col {
    width: 100%;
  }
  #section-kmt .kmt-form-author ul li.col + li {
    margin-top: 25px;
  }
  #section-kmt .kmt-control-user {
    position: static;
    margin-top: 5px;
  }
}
@media (max-width: 480px) {
  #section-kmt .kmt-avatar {
    float: none;
    margin: 0 auto 15px;
  }
  #section-kmt .kmt-avatar + .kmt-content {
    padding-left: 0;
    margin-left: 0;
  }
}
