/*== 1200px and beyond ===================================================
========================================================================*/

    body {
        &.desktop_mode {
           .slider .camera_wrap {
                margin-top: -332px;
            }
            .camera_wrap .camera_caption > div h2 {

    font: 400 30px/30px @altFontFamily;
    padding-right: 50px;
}

    .moduletable {
        &.home_menu {
            padding-bottom: 0px;
            margin-top: 0px;
        }
      }


     #style_switcher, #fixed-sidebar-right{
      z-index: 10000;
      }

      #style_switcher, div#fixed-sidebar-right .moduletable.login {
    top: 230px !important;
}
            .moduletable {
                &.top_menu_2 {
                    float: right;
                    margin-left: 0;
                    max-width: 300px;
                    margin-top: -200px;
                    .menu {
                        display: block;
                        padding-top: 10px;
                        .transition(all 0.3s ease);
                        li {
                            font: 400 14px/17px @baseFontFamily;
                            color: @white;
                            text-transform: none;
                            float: left;
                            position: relative;
                            &:before {
                                content: "\f095";
                                position: relative;
                                font: 16px/17px FontAwesome;
                                color: @white;
                                position: relative;
                                padding-right: 5px;
                                display: inline-block;
                                .transition(all 0.3s ease);
                            }
                            a {
                                color: @white;
                                &:hover {
                                    color: @globalColor;
                                }
                            }
                            +li {
                                margin-left: 0px;
                                margin-top: 10px;
                                &:before {
                                    content: "\f041";
                                }
                            }
                        }
                    }
                }
            }
        }
    }






/* Large desktop */

@media (min-width: 1200px) {}

@media screen and (max-height: 639px) {
    #style_switcher,
    div#fixed-sidebar-right .moduletable.login {
        top: 85px !important;
    }
}


/*== Up to 1200px =====================================================
========================================================================*/

@media (max-width: 1204px) {
    .page-login .btn {
        vertical-align: inherit;
        margin: 10px 0;
    }
}

@media (max-width: 1800px) {
    .mod_caroufredsel {
        .caroufredsel_pagination {
            position: absolute;
            left: -10%;
            top: 14%;
        }
    }
}

@media (max-width: 1730px) {
    #copyright .moduletable.contacts {
        margin-top: 230px;
    }
}

@media (max-width: 1700px) {
    .stuck .moduletable.top_menu_2 {
        margin-left: 20px;
    }
    .mod-newsflash-adv__home_gallery .item .dropcap {
        position: absolute;
        font: 400 100px/100px @altFontFamily;
        bottom: 40%;
    }
}

@media (max-width: 1530px) {
    .stuck .moduletable.top_menu_2 .menu {
        padding-top: 40px;
        li {
            display: block;
            float: none;
            +li {
                margin-left: 0;
            }
        }
    }
    .scroll-to-fixed-fixed .moduletable.top_menu_2 .menu {
        padding-top: 0px;
        li {
            display: block;
            float: none;
            +li {
                margin-left: 0;
            }
        }
    }
    .stuck .moduletable.home_menu {
        max-width: 700px;
        .icemegamenu > ul > li > a.iceMenuTitle {
            font: 20px/40px @altFontFamily;
        }
    }
    .camera_wrap {
        .camera_caption > div h2 {
            color: #ffffff;
            font: 400 90px/90px @altFontFamily;
        }
        .camera_caption > div .readmore {
            font: 400 20px/20px @altFontFamily;
            margin-top: 27px;
            padding: 18px 40px;
        }
    }
    h1.heading-style-2,
    h2.heading-style-2,
    h3.heading-style-2,
    h4.heading-style-2,
    h5.heading-style-2,
    h6.heading-style-2 {
        font-size: 80.0px;
        line-height: 120.0px;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
        margin-left: 100px !important;
    }
    .moduletable.home_gallery header .moduleTitle {
        margin-right: 100px;
    }
    .moduletable header {
        text-align: center !important;
        h2 {
            display: inline-block;
        }
    }
    .camera_wrap .camera_caption > div h2 {
        margin-left: 0 !important;
    }
    .moduletable.dependability header {
        text-align: center;
        h2 {
            display: inline-block;
            margin-left: 0 !important;
        }
    }
    .moduletable {
        &.contact,
        &.location {
            header {
                text-align: left !important;
            }
        }
    }
    .map_wrapper {
        .map {
            height: 453px !important;
        }
    }
}

@media (max-width: 1488px) {
    .mod_caroufredsel {
        .caroufredsel_pagination {
            display: inline-block;
            position: relative;
            left: 50%;
            margin-left: -54px;
            text-align: center;
            top: 4%;
            a {
                float: left;
                margin-bottom: 0;
                margin: 0 10px;
            }
        }
    }
}

@media (max-width: 1390px) {
    #adminForm #images .input-prepend.input-append .btn + input {
        width: 65% !important;
        padding-left: 12% !important;
    }
    h1.heading-style-2,
    h2.heading-style-2,
    h3.heading-style-2,
    h4.heading-style-2,
    h5.heading-style-2,
    h6.heading-style-2 {
        font-size: 70.0px;
        line-height: 100.0px;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
        margin-left: 100px !important;
    }
    .moduletable {
        &.top_social {
            position: absolute !important;
            bottom: 5% !important;
            right: 4% !important;
            top: auto !important;
            left: auto !important;
            .menu {
                &.social {
                    li {
                        margin-right: 0;
                        float: left;
                        display: block;
                        margin-bottom: 0px;
                        padding: 0 10px;
                        a {
                            color: @white;
                            &:before {
                                font-size: 20px;
                                line-height: 20px;
                            }
                            &:hover {
                                color: @globalColor;
                            }
                        }
                    }
                }
            }
        }
    }
    .camera_wrap {
        .camera_caption > div h4 {
            font: 300 22px/50px @baseFontFamily;
        }
    }
    .camera_wrap .camera_caption > div h2 {
        color: #ffffff;
        font: 400 60px/70px @altFontFamily;
        padding-right: 50px;
    }
}


/* Large desktop */

@media (max-width: 1200px) {
    .mod_caroufredsel__testimonials .list_carousel .item .item_content .item_img {
        position: relative;
        display: block;
        float: none;
        overflow: visible;
        text-align: center;
    }
    .mod_caroufredsel__testimonials .list_carousel .item .item_content .item_img::before {
        font: 180px/180px @altFontFamily;
        position: relative;
        padding-right: 0px;
        display: block;
        top: 0px;
        text-align: center;
    }
    .mod_caroufredsel__testimonials .list_carousel .item .item_content .oh {
        overflow: hidden;
        float: none;
        margin-left: 30px;
        margin-top: -0;
        text-align: center;
    }
    .mod_caroufredsel__testimonials .list_carousel .item .item_content p {
        display: block;
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
    }
    .mod_caroufredsel__testimonials .list_carousel .item .item_content .item_img::before {
        font: 150px/120px @altFontFamily;
    }
    .list_carousel ul li.item .item_content {
        text-align: center;
    }
    .stuck .moduletable.top_menu_2 .menu {
        padding-top: 0;
    }
    .stuck .moduletable.home_menu {
        margin-top: 20px;
    }
    .mod-newsflash-adv__home_gallery .item .dropcap {
        position: absolute;
        font: 400 80px/80px @altFontFamily;
        left: 30px;
        bottom: 45%;
    }
    .mod-newsflash-adv__home_gallery .item .item_img .more .readmore {
        background: none;
        margin-top: 22%;
    }
    .camera_wrap .camera_caption > div {
        max-width: 800px;
    }
    .row-fluid {
        margin-left: -@gridGutterWidth;
        [class*="itemSpan"],
        [class*="span"] {
            padding-left: @gridGutterWidth;
        }
    }
    .fluid {
        margin-left: -@gridGutterWidth;
    }
}

@media (max-width: 1170px) {
    h1.heading-style-2,
    h2.heading-style-2,
    h3.heading-style-2,
    h4.heading-style-2,
    h5.heading-style-2,
    h6.heading-style-2 {
        font-size: 60.0px;
        line-height: 80.0px;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
        margin-left: 100px !important;
    }
    .radial-progress .progressbar-text {
        font-family: @altFontFamily;
        font-size: 65px;
    }
    .mod-newsflash-adv__progbars_circle .item_title {
        font-size: 13px;
    }
    .accordion-toggle {
        padding: 10px 0 0px 35px;
        font: 400 20px/26px @altFontFamily;
    }
    .mod-bootstrap-collapse.mod-bootstrap-collapse__ {
        margin-right: 0px;
    }
    .mod-newsflash-adv__pricing_simple .row-fluid .item .head p {
        font: 400 20px/20px @altFontFamily;
    }
    .mod-newsflash-adv__pricing_simple .row-fluid .item .head .price {
        float: right;
        font: 400 33px/33px @altFontFamily;
    }
    .mod-newsflash-adv__pricing_detailed .row-fluid .item .head p {
        font: 400 20px/20px @altFontFamily;
    }
    .mod-newsflash-adv__pricing_detailed .row-fluid .item .head .price {
        float: right;
        font: 400 33px/33px @altFontFamily;
    }
    .stuck .moduletable.home_menu {
        max-width: 580px;
    }
}

@media (max-width: 1100px) {
    .page-gallery__works .item_img .more_wrapper .vert-align .btn .item_introtext p {
        font: 300 15px/20px @baseFontFamily;
        text-transform: none;
    }
    .camera_wrap {
        .camera_caption {
            bottom: 10%;
        }
    }
}

@media (max-width: 1060px) {
    .stuck .moduletable.home_menu {
        max-width: 500px;
    }
    .mod-newsflash-adv__home_gallery .item .dropcap {
        font: 400 60px/60px @altFontFamily;
        left: 30px;
        bottom: 55%;
    }
    .mod-newsflash-adv__home_gallery .item .item_info .item_title {
        font: 400 17px/20px @altFontFamily;
        padding: 10px 15px;
        margin-bottom: 10px;
    }
}


/*== Up to 980px ======================================================
========================================================================*/


/* Narrow desktop */

@media (max-width: 979px) {
    table tr td,
    #Kunena table .krow1 td.krowmoderation {
        padding: 35px !important;
    }
    .mod-newsflash-adv__counters .item .item_title {
        font: 400 80px/80px @altFontFamily;
    }
    h1.heading-style-1,
    h2.heading-style-1,
    h3.heading-style-1,
    h4.heading-style-1,
    h5.heading-style-1,
    h6.heading-style-1 {
        font-size: 100.00px;
        line-height: 100.00px;
        margin-bottom: 20px;
    }
    .mod-newsflash-adv__pricing_detailed .row-fluid .item .item_content .readmore {
        padding-left: 38px;
        padding-right: 38px;
    }
    .mod-newsflash-adv__pricing_detailed .row-fluid .item .head p {
        font: 400 20px/20px @altFontFamily;
        padding-bottom: 10px;
        float: none;
    }
    .mod-newsflash-adv__pricing_detailed .row-fluid .item .head .price {
        float: none;
        font: 400 33px/33px @altFontFamily;
        padding-bottom: 10px;
    }
    .mod-newsflash-adv__pricing_simple .row-fluid .item .item_content .readmore {
        padding-left: 38px;
        padding-right: 38px;
    }
    .mod-newsflash-adv__pricing_simple .row-fluid .item .head p {
        font: 400 20px/20px @altFontFamily;
        padding-bottom: 10px;
        float: none;
    }
    .mod-newsflash-adv__pricing_simple .row-fluid .item .head .price {
        float: none;
        font: 400 33px/33px @altFontFamily;
        padding-bottom: 10px;
    }
    .mod-newsflash-adv__home_gallery .item .item_img .more .readmore {
        background: none;
        margin-top: 22%;
        padding: 10px 20px;
    }
    .moduletable.top_menu_2 {
        display: none !important;
    }
    .copyright {
        font: 300 16px/30px @baseFontFamily;
    }
    body {
        font-family: @baseFontFamily;
        font-size: 16px;
        line-height: 30px;
    }
    .camera_wrap {
        .camera_caption {
            bottom: 10%;
        }
    }
    .thumbnails {
        margin-left: -12px;
    }
    .thumbnails > li {
        margin-left: 12px;
    }
    #back-top {
        display: none !important;
        .opacity(0) !important;
    }
    .row-fluid {
        margin-left: -@gridGutterWidth768;
        [class*="itemSpan"],
        [class*="span"] {
            padding-left: @gridGutterWidth768;
        }
    }
    .fluid {
        margin-left: -@gridGutterWidth768;
    }
    .nav-collapse .nav > li > a,
    .nav-collapse .dropdown-menu a {
        font-weight: inherit;
    }
    .stuck .moduletable.home_menu .icemegamenu > ul > li > a.iceMenuTitle {
        font: 18px/40px @altFontFamily;
    }
    .stuck .moduletable.home_menu {
        // max-width: 430px;
        margin-right: 20px;
    }
    ul.icesubMenu li a.iceMenuTitle {
        font: 16px/16px @altFontFamily;
        color: #ffffff;
        text-transform: uppercase;
    }
    h1.heading-style-2,
    h2.heading-style-2,
    h3.heading-style-2,
    h4.heading-style-2,
    h5.heading-style-2,
    h6.heading-style-2 {
        font-size: 40px;
        line-height: 60px;
        margin-left: 100px;
        margin-left: 0;
    }
    .camera_wrap .camera_caption > div {
        max-width: 740px;
    }
    .camera_wrap .camera_caption > div .readmore {
        font: 400 20px/20px @altFontFamily;
        margin-top: 0;
        padding: 18px 40px;
    }
    .camera_wrap .camera_caption > div h2 {
        color: #ffffff;
        font: 400 50px/50px @altFontFamily;
        padding-right: 50px;
    }
}

@media (max-width: 869px) {
    form.mod_tm_ajax_contact_form .control-group-button .btn {
        margin-right: 10px;
        margin-bottom: 20px;
    }
    table th {
        font-size: 20px;
        line-height: 36px;
    }
    .page-gallery__works .gallery-item {
        .item_introtext {
            display: none;
        }
    }
    .page-gallery__works .item_img .more_wrapper .vert-align .btn .item_title {
        color: #ffffff;
        padding-top: 0px;
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 20px;
    }
    .page-gallery__works .gallery-item {
        .gallery-item__content {
            .more_wrapper {
                a {
                    .item_header {
                        margin-top: 30%;
                    }
                }
            }
        }
    }
    .item_introtext ul li a,
    .item_fulltext ul li a,
    .category_desc ul li a,
    .site_map ul li a {
        font: 400 14px/20px @altFontFamily;
    }
}

@media (max-width: 820px) {
    .camera_wrap .camera_caption {
        bottom: 5%;
    }
}


/*== Up to 980px and beyond 768px ======================================
========================================================================*/


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    .fullwidth ul.icesubMenu.sub_level_1 > li {
        padding-left: 0;
        padding-right: 0;
    }
    .fullwidth ul.icesubMenu.sub_level_1 .iceCols > ul {
        padding: 0 15px;
    }
}

@media (max-width: 800px) {
    .img-full__left.span5 {
        width: 50%;
    }
}


/*== Up to 767px ======================================================
========================================================================*/


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {

    .mod_caroufredsel__testimonials .list_carousel .item .item_content .oh {
        margin-left: 0px;
    }
    .page-gallery__works .gallery-item .gallery-item__content .more_wrapper a .item_header {
        margin-top: 33%;
    }
    .list_carousel ul li.item .item_content {
        margin: 0 !important;
        padding: 0 !important;
    }
    #adminForm #images .input-prepend.input-append .btn + input {
        width: 55% !important;
        padding-left: 12% !important;
    }
    body {
        #style_switcher,
        div#fixed-sidebar-right .moduletable.login {
            top: 56px !important;
        }
    }
    .gallery-item {
        .jg_imgalign_catimgs {
            .jg_photo_custom {
                width: 100%;
            }
        }
    }
    .jg_imgalign_catsubs {
        .jg_subcatelem_photo {
            .jg_photo_custom {
                width: 100%;
            }
        }
    }
    .mod-newsflash-adv__counters .item + .item::before {
        display: none;
    }
    .nav-tabs li {
        display: block;
        margin-bottom: 10px;
        margin-left: 0 !important;
    }
    .item_introtext ol li,
    .item_fulltext ol li,
    .category_desc ol li,
    .site_map ol li {
        position: relative;
        padding-left: 25px;
        text-align: center;
    }
    .item_introtext ol li::before,
    .item_fulltext ol li::before,
    .category_desc ol li::before,
    .site_map ol li::before {
        padding-right: 20px;
        position: relative;
    }
    .item_img,
    .category_img {
        margin: 0 0 20px;
        text-align: center;
    }
    h1.heading-style-1,
    h2.heading-style-1,
    h3.heading-style-1,
    h4.heading-style-1,
    h5.heading-style-1,
    h6.heading-style-1 {
        font-size: 70.00px;
        line-height: 70.00px;
        margin-bottom: 20px;
    }
    #content {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .nav-tabs > li > a,
    .nav-tabs > li > span {
        font: 400 22px/23px @altFontFamily;
        padding: 20px 67px;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        display: block;
    }
    #Kunena .nav-tabs > li {
        display: block;
        margin-bottom: 10px;
    }
    .mod-article-single.mod-article-single__dependability .readmore {
        float: none;
    }
    .mod-article-single {
        &.mod-article-single__dependability,
        &.mod-article-single__creativity,
        &.mod-article-single__experience {
            text-align: center;
            .item_introtext {
                text-align: center;
            }
        }
    }
    .img-intro__left,
    .img-full__left {
        float: none;
        margin-right: 30px;
        max-width: 100%;
        text-align: center;
    }
    .img-intro__right,
    .img-full__right {
        float: none;
        margin-left: 30px;
        max-width: 100%;
        text-align: center;
    }
    #breadcrumbs {
        padding-top: 130px;
    }
    .mod_caroufredsel__staff .list_carousel .item .item_content .pad_1 {
        padding-bottom: 0px;
    }
    .mod_caroufredsel__staff .list_carousel .item .item_content img {
        float: none;
    }
    .mod_caroufredsel__staff .list_carousel .item .item_content .oh {
        overflow: hidden;
        float: none;
        margin-left: 0px;
        margin-top: 20px;
    }
    .item_introtext ul li,
    .item_fulltext ul li,
    .category_desc ul li,
    .site_map ul li {
        position: relative;
        padding-left: 25px;
    }
    .item_introtext ul li::before,
    .item_fulltext ul li::before,
    .category_desc ul li::before,
    .site_map ul li::before {
        padding-right: 20px;
        position: relative;
    }
    #breadcrumbs h6 {
        text-align: center;
    }
    #breadcrumbs .breadcrumb {
        text-align: center;
    }
    .slider {
        .camera_wrap .camera_caption {
            bottom: 3%;
        }
        .camera_wrap {
            margin-top: -130px;
        }
    }
    .camera_wrap .camera_caption > div {
        max-width: 630px;
    }
    #style_switcher {
        top: 75px;
        width: 295px;
        z-index: 1012;
        padding: 21px 20px 29px 30px;
        background: #333;
    }
    div#fixed-sidebar-right .moduletable.login {
        top: 75px;
    }
    .camera_wrap .camera_caption > div h4 {
        font: 300 15px/50px @baseFontFamily;
        display: block;
    }
    .camera_wrap .camera_caption > div h2 {
        color: #ffffff;
        font: 400 20px/20px @altFontFamily;
        padding-right: 50px;
        display: block;
    }
    .copyright {
        font: 300 16px/30px @baseFontFamily;
        text-align: center;
    }
    #copyright .moduletable {
        float: none;
        text-align: center;
    }
    .moduletable.contact header,
    .moduletable.location header {
        text-align: center !important;
    }
    .mod-newsflash-adv__home_gallery .item .dropcap {
        font: 400 70px/70px @altFontFamily;
        left: 30px;
        bottom: 35%;
    }
    .mod-newsflash-adv__home_gallery .item .item_img .more .readmore {
        background: none;
        margin-top: 27%;
        padding: 20px 30px;
    }
    .camera_wrap .camera_caption > div h4 {
        font: 300 18px/50px @baseFontFamily;
    }
    #logo {
        position: absolute;
        top: 20px;
        z-index: 1;
        a {
            img {
                height: 80px;
            }
        }
    }
    body {
        padding: 0;
    }
    .icemegamenu {
        display: none;
    }
    .icemega_modulewrap {
        .icemega_cover_module {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    #logo {
        text-align: center;
        a {
            margin: 0;
        }
    }
    /*===== Mobile Menu =====*/
    .rd-mobilemenu_ul a.iceMenuTitle:hover {
        background: @globalColor;
    }
    .rd-mobilemenu_ul a.active,
    .rd-mobilemenu_ul li.level_1.active > a {
        color: @white;
        background: @globalColor;
    }
    .rd-mobilemenu_submenu {
        li.active {
            > a {
                color: @subMenuItemActColor;
                background: @subMenuItemBgActColor;
            }
        }
    }
    .rd-mobilemenu_submenu {
        .item,
        .item__module {
            .opacity(100);
            .translate(0, 0);
        }
        [class*="span"] {
            width: 100% !important;
        }
    }
    .rd-mobilemenu_submenu {
        .icemega_modulewrap.top_search > i.fa-search {
            display: none;
        }
        .icemega_modulewrap.top_search .mod-search {
            position: static;
            visibility: visible;
            width: 100%;
            .box-sizing(border-box);
            padding: 0 15px;
            margin-top: 10px;
            i.fa-times {
                display: none;
            }
            #searchword {
                width: 100%;
            }
        }
    }
    .nav.menu.pull-right.nav-pills {
        float: none;
        text-align: center;
        li {
            display: inline-block;
            float: none;
        }
    }
    /*===== content =====*/
    [class*="cols"] {
        [class*="span"] {
            width: 100%;
        }
    }
    .row-fluid {
        [class*="itemSpan"],
        [class*="span"] {
            display: block;
            float: none;
            margin-left: 0;
            width: 100%;
            + [class*="itemSpan"],
            [class*="span"] {
                margin-top: 30px;
            }
        }
    }
    /*===== Tabs =====*/
    .nav-tabs {
        li {
            display: block;
        }
    }
    /*===== Tables =====*/
    .item_introtext {
        dl.table {
            display: block;
        }
        table {
            display: none;
        }
    }
}

@media (max-width: 680px) {
    .camera_wrap .camera_caption > div {
        max-width: 520px;
    }
    .camera_wrap .camera_caption > div h4 {
        font: 300 15px/30px @baseFontFamily;
    }
    .camera_wrap .camera_caption > div h2 {
        font: 400 20px/20px @altFontFamily;
        padding-right: 50px;
    }
}

@media (max-width: 610px) {
    .camera_wrap .camera_caption > div {
        max-width: 670px;
    }
    .camera_wrap .camera_caption > div h2 {
        color: #ffffff;
        font: 400 28px/40px @altFontFamily;
        padding-right: 50px;
    }
    .moduletable.top_social .menu.social li {
        margin-right: 0;
    }
    .camera_wrap .camera_caption > div h4 {
        font: 300 20px/30px @baseFontFamily;
    }
}

@media (max-width: 550px) {
    .mod-newsflash-adv__home_gallery .item .dropcap {
        font: 400 70px/70px @altFontFamily;
        left: 30px;
        bottom: 45%;
    }
}


/*== Up to 640px ==================================================
====================================================================*/

@media (max-width: 639px) {
    #adminForm #images .input-prepend.input-append .btn + input {
        width: 55% !important;
        padding-left: 12% !important;
        display: block;
        margin-bottom: 20px;
    }
    h1.heading-style-2::before,
    h2.heading-style-2::before,
    h3.heading-style-2::before,
    h4.heading-style-2::before,
    h5.heading-style-2::before,
    h6.heading-style-2::before {
        width: 100px;
        left: -50px;
    }
    h1.heading-style-2::after,
    h2.heading-style-2::after,
    h3.heading-style-2::after,
    h4.heading-style-2::after,
    h5.heading-style-2::after,
    h6.heading-style-2::after {
        width: 57px;
    }
    .moduletable.dependability header .moduleTitle::before {
        right: -50px;
        left: auto;
    }
    h2 {
        display: inline-block;
        margin-left: 20px !important;
    }
    h1.heading-style-2,
    h2.heading-style-2,
    h3.heading-style-2,
    h4.heading-style-2,
    h5.heading-style-2,
    h6.heading-style-2 {
        font-size: 30px;
        line-height: 60px;
        margin-left: 100px;
    }
    #header {
        text-align: center;
    }
    .moduletable.top_social .menu.social li {
        padding: 0 5px;
    }
    .menu.social li {
        display: inline-block;
        padding: 0;
        margin: 0 5px;
    }
    .moduletable.top_social {
        position: absolute !important;
        bottom: 4% !important;
        right: auto !important;
        top: auto !important;
        left: auto !important;
        display: inline-block;
        margin: 0;
        float: none;
        margin-left: -93px;
    }
    .camera_wrap .camera_caption {
        display: none !important;
    }
    ul#order {
        float: none;
    }
}

// Set Elements on 2 columns
@media (min-width: 480px) and (max-width: 767px) {
    .mod-newsflash-adv__progbars_circle .row-fluid .span3 {
        width: 50%;
        float: left;
        &:nth-child(2n-1) {
            clear: both;
        }
    }
}


/*== Up to 480px ==================================================
====================================================================*/


/* Landscape phones and down */

@media (max-width: 479px) {
    .slider .camera_wrap {
        // margin-top: -10px;
    }
    //   .moduletable {
    //     &.top_social {
    //         display: none;
    //     }
    // }
    #Kunena div.kthead-title a {
        font: 400 20px/20px @altFontFamily;
        text-transform: uppercase;
        color: #1a1a1a;
    }
    h1.heading-style-3,
    h2.heading-style-3,
    h3.heading-style-3,
    h4.heading-style-3,
    h5.heading-style-3,
    h6.heading-style-3 {
        font-size: 22.00px;
        line-height: 24.00px;
        margin-bottom: 30px;
    }
    .mod-newsflash-adv__home_gallery .item .item_info .item_title {
        margin-bottom: 0px;
    }
    .mod-article-single.mod-article-single__experience .item_introtext,
    .mod-article-single.mod-article-single__dependability .item_introtext,
    .mod-article-single.mod-article-single__creativity .item_introtext {
        padding-top: 0px;
        max-width: 340px;
        text-align: center;
        margin: 0 auto;
    }
    .moduletable {
        .mod-article-single {
            text-align: center;
        }
    }
    .mod-article-single.mod-article-single__dependability .readmore {
        float: none;
    }
    .item_img {
        text-align: center;
    }
    .mod-newsflash-adv__home_gallery .item .item_img .more .readmore {
        margin-top: 22%;
    }
    .mod-newsflash-adv__home_gallery .item .dropcap {
        font: 400 50px/50px @altFontFamily;
        left: 30px;
        bottom: auto;
        top: 30px;
    }
    // Alert Resize
    .alert {
        padding: 28px 58px 28px 70px;
        &:before {
            left: 10px;
            font-size: 40px;
        }
    }
    .img-full__left.span5 {
        margin-right: 0;
        width: 100%;
    }
    /*blog*/
    .item_img {
        float: none;
        margin: 0 0 @baseLineHeight 0;
        max-width: 100%;
    }
    .portfolio-thumbs {
        float: none;
        margin-right: 0;
        max-width: 100%;
        width: 100%;
        ul {
            margin-left: -@gridGutterWidth768;
            margin-right: 0;
            overflow: hidden;
            li {
                padding-left: @gridGutterWidth768;
                padding-right: 0;
            }
        }
    }
    .data-table dl {
        float: none;
        width: 100%;
        & + dl {
            border-left: 1px solid @tableBorderColor;
            border-top: none;
        }
    }
    /*search*/
    .mod-search__aside {
        .mod-search_searchword {
            width: 100%;
        }
    }
    /*login*/
    .mod-login__aside {
        .mod-login_username,
        .mod-login_passwd,
        .mod-login_userdata {
            width: 100%;
        }
        .mod-login_userdata {
            overflow: hidden;
        }
    }
    div.modal {
        position: absolute;
    }
    #error {
        input {
            width: 200px;
        }
    }
    .jg_photo {
        width: 100%;
    }
    /*===== Tables =====*/
    .item_introtext,
    .item_fulltext {
        table {
            tr {
                td {
                    &:before {
                        font-size: @fontSizeLarge;
                        padding: 10px;
                    }
                    & + td {
                        border-left: none;
                    }
                }
            }
        }
    }
    .chzn-container {
        width: 100% !important;
        min-width: 200px;
    }
    #habla_beta_container_do_not_rely_on_div_classes_or_names {
        display: none !important;
    }
}

@media (max-width: 350px) {
    .page-gallery__works .gallery-item .gallery-item__content .more_wrapper a .item_header {
        margin-top: 32%;
    }
    h1.heading-style-2,
    h2.heading-style-2,
    h3.heading-style-2,
    h4.heading-style-2,
    h5.heading-style-2,
    h6.heading-style-2 {
        margin-left: 40px !important;
    }
    div#fixed-sidebar-right .moduletable.login.shown {
        width: 220px;
    }
    div#fixed-sidebar-right .moduletable.login.shown .mod_login_wrapper {
        padding-left: 20px;
        padding-right: 20px;
        width: 220px;
        right: 0;
    }
    #style_switcher {
        width: 210px !important;
        padding: 10px !important;
    }
    #style_switcher ul li div.color_scheme {
        height: 26px !important;
        width: 26px !important;
    }
}

@media (max-width: 320px) {
    #Kunena div.kthead-title a {
        font: 400 18px/20px @altFontFamily;
        text-transform: uppercase;
        color: #1a1a1a;
    }
}
