@import "_variables.less";
@import "bootstrap_addons/_mixins.less";

// =======================
// Mega Menu
// =======================

//Level 0
//Font
@menuItemFontSize: 30px;
@menuItemFontFamily: @altFontFamily;

//Margin
@menuItemMargin: 0;

//Colors
@menuItemColor: @white;
@menuItemBgColor: transparent;
@menuItemBgActColor: transparent;
@menuItemDescColor: @white;

//Parent Icon
@menuParentIcon: '\f078';
@menuParentIconSize: 8px;
@menuParentIconColor: inherit;
@menuParentIconMargin: 5px;

//Level 1+
//Font
@subMenuItemFontSize: 20px;
@subMenuItemFontFamily: @altFontFamily;
@subMenuItemLineHeight: 20px;

//Colors
@subMenuBg: @grayDark;
@subMenuItemColor: @white;
@subMenuItemBgColor: none;

//Layout
@subMenuBorder: none;
@subMenuMarginTop: 20px;

.icemegamenu {
  float: right;
  position: static;
      width: 100%;
  > ul {
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    z-index: 999;
    .clearfix;
    > li {
      display: table-cell;
       vertical-align: top;
      // float: left;
      position: relative;
      + li {
        margin-left: @menuItemMargin;
      }
      > a.iceMenuTitle {
        text-align: center;
        display: block;
        font: (@menuItemFontSize)~"/"(@menuItemLineHeight) @menuItemFontFamily;
        padding: 0;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        color: @menuItemColor;
        background: @menuItemBgColor;
        * {
          font: inherit;
        }
        &.hover,
        &.icemega_active {
          color: @menuItemActColor;
          background: @menuItemBgActColor;
        }
      }
      &.hover {
        > a.iceMenuTitle {
          color: @menuItemActColor;
          background: @menuItemBgActColor;
          &.menu-login-form {
            background: none;
            color: @headingsColor;
          }
        }
      }
      &.parent {
        > .iceMenuTitle,
        > .icemega_title {
          // &:after {
          //   content: @menuParentIcon;
          //   font-family: @fa;
          //   font-size: @menuParentIconSize;
          //   color: @menuParentIconColor;
          //   margin-left: @menuParentIconMargin;
          //   line-height: 0;
          // }
        }
      }
      span.icemega_desc {
        color: @menuItemDescColor;
        display: block;
        line-height: 1.25em;
        padding: 0;
      }
      &.fullwidth {
        position: static;
      }

      // Login Dropdown
      &.menu-login-form {
        > a.iceMenuTitle {
          font-size: 0;
          width: @menuItemLineHeight;
          height: @menuItemLineHeight;
          line-height: @menuItemLineHeight;
          text-align: center;
          background: none;
          color: @globalColor;
          &:before {
            content: '\f007';
            font-size: @menuItemFontSize;
            font-family: @fa;
          }
          &:after {
            display: none;
          }
        }
        &.hover {
          > a.iceMenuTitle,
          > a.iceMenuTitle.hover
          > a.iceMenuTitle:hover {
            color: @headingsColor;
            background: none;
          }
        }
        ul.icesubMenu.sub_level_1 {
          left: auto;
          right: 20px;
          .translate(0px, 30px);
          &:before {
            .triangle(bottom_right, 20px, 10px, #777);
            right: 0;
            left: auto;
            .translate(0px, 0px);
          }

        }
      }
      &.menu-search {
        > a.iceMenuTitle {
          display: none;
        }
        > ul.icesubMenu {
          position: static;
          height: auto;
          padding: 0;
          margin-top: 0;
          .opacity(100);
          overflow: visible;
          .translate(0, 0) !important;
          pointer-events: auto;

          &:before {
            display: none;
          }
        }
        .fa-times {
          display: block;
          font-size: 20px;
        }
      }
    }
  }

  .ice-megamenu-toggle {
    display: none;
  }
}

/* when dont have subtitle */
.icemegamenu > ul > li > a.iceMenuTitle > span.icemega_nosubtitle {
  display: inline-block;
}

// Submenu
ul.icesubMenu {
  height: 0;
  left: 50%;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  text-align: left;
  top: 100%;
  .transition(all .25s ease-out);
  .translate(-50%, 30px);
  z-index: 9999;
  background: @subMenuBg;
  border: @subMenuBorder;
  text-transform: capitalize;
  li {
    a.iceMenuTitle {
      display: block;
      font: (@subMenuItemFontSize)~"/"(@subMenuItemLineHeight) @subMenuItemFontFamily;
      padding: 10px 20px;
      color: @subMenuItemColor;
      text-transform: uppercase;
    }
    &.active,
    &:hover,
    &.hover {
      > a.iceMenuTitle {
        color: @subMenuItemActColor;
      }
    }
    &:first-child{
      padding-top: 10px;
    }
    &.last-child{
      padding-bottom: 10px;
    }
  }
  &.sub_level_1 {
    margin-top: @subMenuMarginTop;
  }
  &.sub_level_2 {
    margin-top: -15px;
  }
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    .translate(-50%, 0);
    top: -11px;
    .triangle(top, 22px, 11px, @subMenuBg);
  }
}

li[class*=iceMenuLiLevel] {
  padding: 0;
  &:before {
    display: none;
  }
}

#icemegamenu li.iceMenuLiLevel_1.hover {
  > ul.icesubMenu {
    opacity: 1;
    overflow: visible;
    pointer-events: auto;
    .translate(-50%, 0px);
  }
  &.menu-login-form > ul.icesubMenu {
    .translate(0px, 0px);
  }
}

ul.icesubMenu.sub_level_2 {
  &:before,
  &:after {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    content: '';
    position: absolute;
    top: 23px;
  }
  &:before {
    // border-right: 5px solid @tableBorderColor;
    left: -5px;
  }
  &:after {
    border-right: 5px solid #FFF;
    left: -4px;
  }
}

#icemegamenu li.iceMenuLiLevel_1 li.hover > ul.icesubMenu {
  height: auto;
  opacity: 1;
  overflow: visible;
  pointer-events: auto;
  .translate(0, 0px);
}

#icemegamenu ul.icesubMenu.visible {
  height: auto;
}

ul.icesubMenu ul > li {
  position: relative;
}

li.iceMenuLiLevel_2.parent {
  > a {
    &:after {
      content: '\f054';
      font-family: FontAwesome;
      font-size: 8px;
      height: 0;
      line-height: 0;
      position: absolute;
      right: 7px;
      top: 50%;
    }
  }
  &.hover {
    a {
      position: relative;
      &:before {
        content: '';
        height: 100%;
        left: 100%;
        position: absolute;
        top: 0;
        width: 11px;
      }
    }
  }
}

/* when is parent */
ul.icesubMenu {
  > li {
    &:before {
      display: none;
    }
    > .iceCols {
      max-width: 100% !important;
      > ul {
        > li {
          & + li {
            .icemega_cover_module {
              // border-top: 1px solid @tableBorderColor;
              margin-top: 18px;
              padding-top: 28px;
            }
          }
        }
      }
    }
  }
}

/* Second Level Dropdown */
ul.sub_level_2,
ul.sub_level_3,
ul.sub_level_4,
ul.sub_level_5 {
  left: 100%;
  margin-left: 10px;
  top: 0px;
  .translate(30px, 0);
  z-index: 99999;
}

ul.icesubMenu ul > li.hover > ul {
  opacity: 1;
  overflow: visible;
  .translate(0, 0);
  visibility: visible;
}

.icesubMenu .icemega_cover_module span.iceModuleTile {
  display: block;
}

.ice_righttoleft {
  left: auto !important;
  right: 0;
}

.icemega_modulewrap {
  padding: 5px;
}

.nav-collapse .icesubMenu {
  .nav > li > a,
  .dropdown-menu a {
    margin-bottom: 0;
    padding: 0;
  }
}

.nav-collapse.collapse {
  height: auto;
}

// Full Width Submenu
.fullwidth {
  position: static !important;
  &.hover {
    ul.icesubMenu.sub_level_1 {
      .translate(0, 0px) !important;
    }
  }
  ul.icesubMenu.sub_level_1 {
    // color: @linkHoverColor;
    left: 0px;
    padding: 0;
    .translate(0, 30px);
    &:before {
      display: none;
    }
    .icemega_cover_module {
      // color: @linkHoverColor;
      .icemega_modulewrap.pricing {
        margin: 0;
        .mod-newsflash-adv__pricing {
          margin-bottom: 0;
        }
        .item {
          color: #FFF;
          padding-bottom: 5px;
          padding-top: 5px;
          margin-bottom: 0;
          .item_content {
            padding: 15px 19px 15px 19px;
            .item_title {
              margin-bottom: 0;
            }
          }
          .item_introtext {
            p {
              display: none;
            }
            .price {
              font-size: 35px;
              font-weight: 700;
              line-height: 35px;
              strong {
                display: block;
                font-size: @fontSizeSmall;
                font-weight: normal;
                line-height: @baseLineHeight;
              }
              small {
                display: inline-block;
                font-size: @baseFontSize;
                font-weight: 400;
                line-height: @baseLineHeight;
                margin-left: 10px;
                vertical-align: bottom;
              }
            }
          }
        }
      }
      .icemega_modulewrap {
        padding: 0;
      }
      .icemega_modulewrap.aside {
        padding-top: 20px;
      }
    }
    .iceCols {
      > ul {
        padding: 0 28px;
      }
    }
    > li {
      padding: 24px 1px 23px 3px;
      position: relative;
      > .iceCols {
        & + .iceCols {
          &:before {
            // background: @tableBorderColor;
            bottom: 31px;
            content: '';
            position: absolute;
            top: 30px;
            width: 1px;
          }
        }
      }
    }
  }
}

@media (max-width: 979px) {
  .icemegamenu {
    overflow: visible !important;
  }
}
