@import "_variables.less";
@import "bootstrap_addons/_mixins.less";
//
//.gallery-grid {
//  .view {
//    overflow: hidden;
//    position: relative;
//    .mask,
//    .content {
//      height: 100%;
//      left: 0;
//      overflow: hidden;
//      position: absolute;
//      top: 0;
//      width: 100%;
//      z-index: 2;
//      .mask_wrap {
//        font-size: 0;
//        height: 100%;
//        line-height: 0;
//        text-align: center;
//        width: 100%;
//        &:before {
//          content: '';
//          display: inline-block;
//          height: 100%;
//          overflow: hidden;
//          vertical-align: middle;
//          width: 0;
//        }
//        .mask_cont {
//          .box-sizing(border-box);
//          display: inline-block;
//          font-size: @baseFontSize;
//          line-height: @baseLineHeight;
//          max-width: 99%;
//          padding: 0 5%;
//          vertical-align: middle;
//        }
//      }
//    }
//    .item_img {
//      margin: 0;
//    }
//    img {
//      display: block;
//      z-index: 1;
//    }
//    h2,
//    p {
//      position: relative;
//    }
//    .item_more {
//      a {
//        display: inline-block;
//        font-size: 1.5em;
//        font-weight: normal;
//        padding: 2%;
//      }
//    }
//  }
//}
//==================================
// Portfolio
//==================================
.page-gallery__works {
    .item_img {
        position: relative;
        border-radius: 0;
        margin-bottom: 0;
        a {
            border-radius: 0;
            padding: 0;
            display: block;
            width: 100%;
            height: 100%;
        }
        img {
            border-radius: 0;
        }
        .more_wrapper {
            display: block;
            background: rgba(0, 0, 0, .0);
            top: 9%;
            bottom: 9%;
            height: 82%;
            width: 82%;
            left: 9%;
            right: 9%;
            .opacity(0);
            position: absolute;
            .transition(all .5s ease);
            .vert-align {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                height: 100%;
                display: block;
                .translate(0, -50%);
                .btn {
                    padding: 10%;
                    box-sizing: border-box;
                    .item_title {
                        color: @white;
                        padding-top: 20px;
                        margin-bottom: 15px;
                    }
                    .item_introtext{
                      p{
                        font: 300 22px/30px @baseFontFamily;
                        text-transform: none;
                      }
                    }
                    &:hover{
                      background: @globalColor;
                    }
                }
            }
        }
        &:hover {
            .more_wrapper {
                .opacity(100);
            }
        }
    }
    .gallery-item {
        text-align: center;
    }
}

ul.gallery {
    font-size: 0;
    .gallery-item {
        margin-bottom: @gridGutterWidth1200;
        font-size: @baseFontSize;
    }
    .gap {
        display: inline-block;
        &:before {
            display: none;
        }
    }
    .gallery-list {
        margin: 0 0 15px;
        .galleryZoom {
            display: none;
        }
    }
}

.filters,
.sorting,
.layout-mode {
    b {
        display: block;
        margin: 0 0 15px;
    }
}

.layout-mode {
    float: right;
}

ul#filters {
    margin: 0 0 15px;
    li {
        display: inline-block;
        vertical-align: top;
        a {
            cursor: pointer;
        }
    }
}

ul#sort {
    text-align: center;
    li {
        border-radius: 0;
        a {
            cursor: pointer;
            background: none;
            padding: 0 10px;
            font: 400 30px/30px @altFontFamily;
            color: @grayDark;
            text-transform: capitalize;
            &.selected {
                color: @globalColor;
                &:after {
                    color: @globalColor;
                }
            }
            &:hover {
                color: @globalColor;
            }
            &:after {
                font-family: FontAwesome;
                margin-left: 5px;
                font-size: 18px;
                line-height: 30px;
            }
            &[data-order=asc] {
                &:after {
                    content: '\f078';
                }
            }
            &[data-order=desc] {
                &:after {
                    content: '\f054';
                }
            }
        }
    }
}

ul#order {
    float: right;
    position: relative;
    z-index: 2;
}

ul#grid-list {
    margin: 0 0 15px;
    li {
        display: inline-block;
    }
}

.gallery-grid {
    .item_img {
        margin-right: 0;
    }
}

.page-gallery_img {
    margin-left: 0;
    border-radius: 0;
    .item_img{
      border-radius: 0 !important;
      max-width: 40%;
      a{
        border-radius: 0 !important;
        img{
          border-radius: 0 !important;
        }
      }
    }
}


/*======================= Portfolio Project Page ========================*/

.item_img {
    .articleGalleryZoom,
    .galleryZoomIcon {
        .BWfade {
            display: none !important;
        }
        &:before,
        &:after {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            .transition(.3s);
        }
        &:before {
            content: '';
            background: @grayDark;
            bottom: 0;
            top: 0;
            .opacity(0);
        }
        &:after {
            top: 50%;
            color: #FFF;
            content: '\f0b2';
            font-family: @fa;
            font-size: 0;
            line-height: 0;
            text-align: center;
        }
        &:hover {
            &:before {
                .opacity(20);
            }
            &:after {
                font-size: 32px;
            }
        }
    }
}

.img-full__left.span5 {
    padding-left: 0;
}

.view-article {
    #prevArrow,
    #nextArrow {
        display: none;
    }
}

@media (max-width: 767px) {
    ul.gallery .gallery-grid .item_img img {
        width: 100%;
    }
}

@media (max-width: 639px) {
    .gallery li.gallery_desc {
        display: none;
    }
}
